@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) { */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.chart-container {
  width: 100%; /* Full width of its container */
  max-width: 100%; /* No horizontal overflow */
  height: auto; /* Let the height adjust */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 ratio for height/width */
}

.react-calendar-heatmap .react-calendar-heatmap-week .color-empty {
  rx: 1px; /* Rounded corners */
  fill: #dcdbdb; /* Light gray fill for empty cells */
}



.react-calendar-heatmap-weekday-labels .react-calendar-heatmap-weekday-label {
  font-size: 8px;
  fill: #0a0a0a;
}

.react-calendar-heatmap-month-labels .react-calendar-heatmap-month-label {
  font-size: 8px;
  fill: #0a0a0a;
}
/* .apexcharts-xaxis-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; 
  display: block;
} */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
