@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) { */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.chart-container {
  width: 100%; /* Full width of its container */
  max-width: 100%; /* No horizontal overflow */
  height: auto; /* Let the height adjust */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 ratio for height/width */
}

.react-calendar-heatmap .react-calendar-heatmap-week .color-empty {
  rx: 1px; /* Rounded corners */
  fill: #dcdbdb; /* Light gray fill for empty cells */
}



.react-calendar-heatmap-weekday-labels .react-calendar-heatmap-weekday-label {
  font-size: 8px;
  fill: #0a0a0a;
}

.react-calendar-heatmap-month-labels .react-calendar-heatmap-month-label {
  font-size: 8px;
  fill: #0a0a0a;
}
/* .apexcharts-xaxis-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; 
  display: block;
} */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(180);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.rct-sidebar-row {
  font-size: 10px;
  height: 35px !important;
  display: grid;
  place-content: center start;
  
}
.rct-hl-even  {
  /* font-size: 12px; */
  height: 35px !important;
  display: grid;
  place-content: center start;
  
}

.rct-hl-odd  {
  /* font-size: 12px; */
  height: 35px !important;
  display: grid;
  place-content: center start;
}

.rct-item {
  /* font-size: 12px; */
  height: 20px !important;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 0 !important;
  overflow: visible !important; 

}

.rct-item-content {
  font-size: 11px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap; 
}

.rct-header-root{
  background-color:  rgb(100 116 139) !important;
  position: sticky;
  top: 0;
  z-index: 50;
  font-size: 5px !important;
  /* color: rgb(4, 0, 255); */
}

.rct-dateHeader  {
  font-size: 12px !important;
  font-stretch: condensed  ;

}

.rct-sidebar .rct-sidebar-row {
  white-space: pre-line !important; /* or pre-wrap */
  line-height: 1.2 !important; /* Adjust this value to control spacing */
}


/* .rct-sidebar{
  min-width: 300px;
} */

